:host() {
    --dark-blue: #0b0d21;
    --light-white: #fafafa;
    --light-blue: #4f7df9;
    --light-pink: #e91e63;
    --dull-blue: #1d1e33;
    --size-16: 16px;
    --size-14: 14px;
    --size-12: 12px;
    --size-20: 20px;
    --size-30: 30px;
}

.box {
    max-width: 420px;
    text-align: center;
    margin: auto;
    background-color: var(--dark-blue);
    color: var(--light-white);
    padding: var(--size-16);
    border-radius: 38px;
}

h1 {
    font-size: 36px;
    padding: 20px 0;
    font-weight: bold;
}

.info-wrapper {
    background-color: var(--dull-blue);
    border-bottom-left-radius: 38px;
    border-bottom-right-radius: 38px;
    padding: var(--size-16);
    font-size: var(--size-14);
    text-align: center;
}
h2 {
    font-size: 26px;
    color: var(--light-pink);
}

.app {
    min-height: 100vh;
    background-image: url(/sfsites/c/resource/BmiAppBackground);
    background-size: cover;
    background-repeat: no-repeat;
}

label {
    font-size: var(--size-20);
    color: var(--light-white);
}
input {
    color: var(--dull-blue);
    padding: 8px;
    font-size: var(--size-16);
}

.custom-button {
    font-size: var(--size-16);
    padding: 12px;
    background-color: var(--light-pink);
    color: var(--light-white);
    border-color: #e91e63;
}
.result-value {
    color: var(--light-blue);
    font-size: var(--size-30);
}
